[Unit]
Description=Qtile window manager
After=xorg.target
Requires=xorg.target

[Service]
ExecStart=/usr/bin/qtile start
Restart=always
RestartSec=10
 
[Install]
WantedBy=xorg.target
